*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

a{
    color: #7a7a7a;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
}

.candido-contato button{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 750;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-image: linear-gradient(90deg ,#F96C03, #CA415C, #B447AE);
    transition: background-color 0.3s ease;
}
/*Estilo do cabeçalho*/
header{
    padding: 40px 4%;
}

header > .interface{
display: flex;
align-items: center;
justify-content: space-between;
}


header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}


/*Estilo do topo do site*/

.laranja{
    color: #F96C03;
}

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site{
    color: #ffffff;
    font-size: 27px;
}

.quebra-linha {
    display: block; /* Transforma o h1 em um elemento de bloco */
    white-space: nowrap; /* Impede quebras de linha automáticas */
}

.topo-do-site .txt-topo-do-site p{
    color: #ffffff;
    margin: 15px 0;
}



