*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.logo{
    max-width: 150px;
}

.contato-social button{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    color: black;
    background: linear-gradient(90deg ,#F96C03, #CA415C, #B447AE);
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin: 20px 0 40px;
}


body{
    background-color: rgb(15, 15, 15);
}

body{
    
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

a{
    color: #7a7a7a;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
}

.candido-contato button{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 750;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-image: linear-gradient(90deg ,#F96C03, #CA415C, #B447AE);
    transition: background-color 0.3s ease;
}

h2.titulo{
  color: #ffffff;
  font-size: 28px; 
  text-align: center; /*para centralizar a fonte*/
}

h2.titulo span{
    color: #F96C03;
}

/*Estilo do cabeçalho*/

.cabeçalho{
    
    padding: 35px 4%;
    gap: 60px; 
    display: flex;
    background-color: black;
    max-height: 38px;
    position: fixed; /* Fixa o cabeçalho na parte superior da janela */
    top: 0;
    left: 0;
    z-index: 10000; /* Garante que o cabeçalho esteja sobre todos os outros elementos */
    width: 100%;
}

/* Ajusta o espaçamento entre os itens do menu */
.menu-desktop ul {
    margin-right: 80px; /* Ajuste o valor conforme necessário */
}

/* Ajusta o espaçamento entre o logo e o menu */
.logo {
    margin-right: 80px; /* Ajuste o valor conforme necessário */
}

/*estilo do menu mobile*/

.abrir-menu i{
    color: #F96C03;
    font-size: 60px;
    
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.menu-mobile{
    height: 100vh;
    background-color: #252525;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    
}
.menu-mobile.abrindo-menu{
    width: 70%;
}

.menu-mobile nav ul{
text-align: right;
}
.menu-mobile nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #353434;
    color: #F96C03;
}

.menu-mobile .fechar-menu i{
    color: #F96C03;
    font-size: 40px;
}

.menu-mobile .fechar-menu{
    padding: 20px 5%;
}

/* fim do estilo do menu mobile*/

header{
    padding: 40px 4%; /*para o espaçamento*/
}

header > .interface{
display: flex;
align-items: center;
justify-content: space-between;
}


header nav ul{
    list-style-type: none;
}

header nav.menu-desktop li{
    display: inline-block;
    padding: 0 40px;
}


/*Estilo do topo do site*/

.laranja{
    color: #F96C03;
}
section .img-topo-do-site{
   
    max-height: 420px;
}

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site{
    color: #ffffff;
    font-size: 28px;
}


.topo-do-site .txt-topo-do-site p{
    color: #ffffff;
    margin: 15px 0;
}

/*Estilo do contador*/ 
.contadores {
    padding: 50px 4%;
    gap: 60px; 
    
   
    max-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    
}

.contador-box {
    text-align: center;
}

.contador-box h2 {
    font-size: 15px;
    
    color: #ffffff; /* Cor do título */
}

.contador {
    font-size: 50px;
    font-weight: bold;
    color: #F96C03; /* Cor do contador */
}


/*Estilo das espcialidades*/

section.especialidades{
padding: 40px 4%;
}

section.especialidades .flex{
    gap: 30px;
}

.especialidades .especialidades-box{
   color: #ffffff;
   padding: 60px; 
   margin-top: 50px;
   border-radius: 20px;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 6px;
    border-color: #252525;
    transition: .2s;
 }

.especialidades .especialidades-box i{
    font-size: 58px; /*mesmo falando "font" isso para os icones*/
    color: #F96C03;
    
}

.especialidades .especialidades-box h3{
    font-size: 26px;
    margin: 15px 0;
   
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estilos para o traço da barra de rolagem */
::-webkit-scrollbar-track {
    background: #1a1919; /* Cor de fundo da barra de rolagem */
}

/* Estilos para a alça da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#F96C03, #CA415C, #B447AE); /* Cor da alça da barra de rolagem */
    border-radius: 5px; /* Raio da borda da alça */
 
}



/*Estilo do sobre*/

section.sobre{
    padding: 40px 4%;    
}

section.sobre .flex{
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #ffffff;
    font-size: 20px;
}

.sobre.txt-sobre p{
    margin: 10px 0;
    font-weight: 600;
    font-size: medium;
}

.imag-sobre{
    max-height: 500px;
}

/*Clientes recentes*/




#slideContainer {
    display: flex;
    overflow: hidden; 
    width: 100%; 
     
}



.slide{
    margin-top: 80px;
    flex-shrink: 0;
    display: flex; 
   
     
}


.slide-item {
    flex: 0 0 auto; 
    padding: 3px; 
    margin-right: 10px;  
    margin-left: 3px; }


.img-slide {
    max-width: 58%; 
    height: auto;  
}







/*Estilo do portfólio*/



section.portfolio{
    padding: 80px 4%;
}

section.portfolio .flex{
    justify-content: space-around; /*para dar um respiro e espaço*/
    margin: 40px 0 0;
}

.img-port{
    width: 360px;
    height: 460px;
   
    border-radius: 20px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8.5s;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    pointer-events: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer; 
    opacity: 0;  
    transition: 0.5s; 
}

.overlay:hover{
    opacity: 1;
}

/*Estilo entrar em contato*/


form {
    margin-bottom: 40px; /* Adicionado margem inferior ao formulário */
    width: 100%;
    padding: 2em;
    margin: 0 auto;
    margin-top: 40px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #252525;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border: 0px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
}

form textarea{
   resize: none; 
   max-height: 250px;
}

form input::placeholder{
    color: #F96C03;
}

form textarea::placeholder{
    color: #F96C03;
}

form .enviar-candido{
    margin-top: 20px;
    text-align: center;
}

form .enviar-candido input{
    width: 120px;
    background: linear-gradient(90deg ,#F96C03, #CA415C, #B447AE);
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 750;
    border-radius: 8px;
    border-style: none;
    color: black;
    padding: 10px 10px 10px;
    transition: 0.5s;
}

form .enviar-candido input:hover{
    transform: scale(1.1);
}


/*Botão*/
.botão{
    margin-top: 40px;
    text-align: center;
    background: linear-gradient(90deg ,#F96C03, #CA415C, #B447AE);
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 750;
    border-radius: 8px;
    border-style: none;
    color: black;
    padding: 10px 10px 10px;
    transition: 0.5s;
    padding: 10px 40px;
   
}

.botão:hover{
    transform: scale(1.1);
}

/*Estilo do rodapé*/

footer {
    margin-top: 0; /* Alterado para 0px */
    padding: 60px 4%;
    background-color: #181818;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 10px 0;
    border-bottom: 2px solid #F96C03;
}

/* Estilos para telas entre 641px e 997px de largura */
@media only screen and (max-width: 997px) and (min-width: 642px){
    /* Insira aqui os estilos para telas entre 641px e 997px */

    .abrir-menu i{
        font-size: 50px;
    }



    .logo{

    align-items: center;
    margin: auto;
    max-width:200px;
    }


    

    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: row;
    }


    /*cabeçalho*/

    .menu-desktop, .candido-contato{
        display: none;
    }

    .img-topo-do-site{
        max-width: 300px;
       
    }


    /*topo do site*/

    section.topo-do-site .flex{
        gap: 40px;
        
    }

    section.topo-do-site{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
    }
    h2.titulo{
        width: 100%; /* 80% da largura do elemento pai */
        
    }
    .topo-do-site h1{
        font-size: 27px;
        
        
        
    }

    .topo-do-site p{
        font-size: 23px;
        width: 100%; /* 80% da largura do elemento pai */
        
    }



    /*sobre*/
    section.sobre{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
    }

    section.sobre{
        align-items: center;
    }
    .sobre h2{
        width: 100%; /* 80% da largura do elemento pai */
    }
    .sobre p{
        width: 100%; /* 80% da largura do elemento pai */  
    }

    .imag-sobre{
        width: 100%;
                 
        }
    .contato-social{
    text-align: center;
}

    /*especialidades*/
    .especialidades .especialidades-box{
        border: 2px #ffffff solid ;
    }



    /*Portfólio*/
    .img-port{
        width: 100%;
    }

    section.portfolio .flex{
        gap: 60px;
    }

     /*formulario*/
     form{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
        margin: 0 auto;
        margin-top: 40px;
       
     }

     /*rodapé*/
    footer .line-footer{
    text-align: center;        
    }
    footer .flex{
        gap: 30px;
    }

    .menu-mobile{
        display: 1;
    }

}   



@media only screen and (min-width: 997px) {
    .abrir-menu {
      display: none;
    }
  }

  /*menu monile*/

  .abrir-menu i{
    font-size: 50px;
    padding-left: 200px;
}



.logo{

align-items: center;
margin: 30px auto;

max-width:180px;

}

/*RECURSOS DE RESPONSIVIDADE*/

/* Estilos para telas menores que 641px de largura */
@media only screen and (max-width: 641px){
    /* Insira aqui os estilos para telas menores que 641px */

    
    
    /*sobre-marca dos clientes*/
    .slide{
        margin-top: 50px;       
    }
    
    
    .slide-item {
        
        
        margin-right: 5px;  
        margin-left: 10px; }
    
    
    .img-slide {
        max-width: 70%; 
    }
 
  
  /*menu monile*/

  .abrir-menu i{
    font-size: 50px;
    padding-left: 23px;
}



.logo{
    margin: 0; /* Remova qualquer margem */
    max-width: 180px;
}


    

    .flex{
        flex-direction: column;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }



    /*cabeçalho*/
    .menu-desktop, .candido-contato{
        display: none;
    }

    .img-topo-do-site{
        max-width: 300px;
       
    }


    /*topo do site*/

    section.topo-do-site .flex{
        gap: 40px;
        
    }
    .cabeçalho{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
        margin: auto;
    }


    
    section.topo-do-site{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
    }
    h2.titulo{
        width: 100%; /* 80% da largura do elemento pai */
        
    }
    .topo-do-site h1{
        font-size: 27px;
        
        
        
    }

    .topo-do-site p{
        font-size: 23px;
        width: 100%; /* 80% da largura do elemento pai */
        
    }



    /*sobre*/
    section.sobre{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
    }

    section.sobre{
        align-items: center;
    }
    .sobre h2{
        width: 100%; /* 80% da largura do elemento pai */
    }
    .sobre p{
        width: 100%; /* 80% da largura do elemento pai */  
    }

    .imag-sobre{
        width: 100%;
                 
        }

    .contato-social{
    text-align: center;
    }

    /*especialidades*/
    .especialidades .especialidades-box{
        border: 2px #ffffff solid ;
    }



    /*Portfólio*/
    .img-port{
        width: 100%;
    }

    section.portfolio .flex{
        gap: 60px;
    }

     /*formulario*/
     form{
        width: 100%; /* 80% da largura do elemento pai */
        padding: 2em; /* 2 vezes o tamanho da fonte atual */
        margin: 0 auto;
        margin-top: 40px;
       
     }

     /*rodapé*/
    footer .line-footer{
    text-align: center;        
    }
    footer .flex{
        gap: 30px;
    }

    .abrir-menu{
        display: block;
    }
     
}
